.App {
  align-items: center;
  justify-content: center;
  display: flex;
}
.chat-message{
  background-color: #f2f2f2;
   margin: 10% 10%; 
  padding: 1em;
  width: 80%;
  height: 100%;
  overflow-y: auto;
  border-radius: 25px;
  color: gray;
}
.message-right{
  background: #8ff0f4;
  border-radius: 25px;
  padding: 0.5em 1em !important;
  margin: 1em ;
}
.message-left{
  background: rgb(7, 45, 79);
  border-radius: 25px;
  padding: 0.5em 1em !important;
  margin: 1em ;
  color: white;
}
.message-text{
  font-size: 20px;
}
.message-icon{
  font-size: 25px; 
  margin: 5px;
}
#send{
  background: rgb(7, 45, 79);
}
